# MongoDB connection string
MONGO_URI=mongodb://127.0.0.1:27017/bill-app

# Server port
PORT=3001

JWT_SECRET=1qwe32wqdsftrr4ewsdcxvbhguy7654ewsdxcvbadsfghjki76543wedsfghjyu7654wedsnmkjoi987654wq

# Email configuration for overdue invoice notifications
EMAIL_USER=info.binjwaitsolutions@gmail.com
EMAIL_PASS=pcskpmtzjvjesitu